/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: 'PT Sans', sans-serif;
}

.container-big {
    max-width: 1000px;
    margin: 0 auto;
}

.container-medium {
    max-width: 900px;
    margin: 0 auto;
}

.container-small {
    max-width: 700px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: flex-end;
}

.just-start {
    justify-content: flex-start;
}

ul {
    list-style: none;
}

button {
    border-radius: 20px;
    border: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

/* VARIABILI */
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;

    --padding-container: 2rem 0;
    --padding-card: 1.5rem 1rem;
    --main-margin-distance: 2rem 0;
}