/* MAIN */
/* sezione introduzione */

/* sezione planning */
.debug #planning .card:last-child {
    background-color: brown;
    height: 400px;
}

.debug #planning .card:first-child {
    height: 600px;
    background-color: aqua;
}

/* sezione testimonials */
.debug #testimonials .container-big > div {
    background-color: coral;
}

/* sezione about-us */
.debug #about-us .card-text {
    background-color: crimson;
}

.debug #about-us .card-pic {
    background-color: lawngreen;
}