/* MEDIA TABLET */
@media screen and (max-width: 992px) {
    .container-big {
        max-width: 768px;
    }

    .container-medium {
        max-width: 768px;
    }

    /* HEADER */
    header nav {
        display: none;
    }

    header .fa-bars {
        display: block;
    }

    /* MAIN */
    /* sezione inroduzione */
    #intro > div > .cards > .card:first-child {
        flex-wrap: wrap;
    }

    #intro .card > .first-card-text,.first-card-img {
        width: 100%;
    }

    #intro img {
        width: 50%;   
    }

    /* sezione planning */
    #planning .cards {
        flex-wrap: wrap;
    }

    #planning .card {
        width: 100%;
    }

    /* sezione benefits */
    #benefits .card {
        width: calc(50% - 1.5rem);
    }
}

/* MEDIA MOBILE */
@media screen and (max-width: 700px) {
    .container-big {
        max-width: 425px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container-medium {
        max-width: 425px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .container-small {
        max-width: 425px;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* sezione introduzione  */
    #intro .cards > .card {
        width: 100%;
    }

    #intro .cards > .card > .first-card-text {
        width: 100%;
    }

    #intro .cards > .card > .first-card-img {
        padding-left: 0;
        width: 100%;
        justify-content: center;
    }

    #intro .cards > .card > .first-card-img > img {
        width: 70%;
    }

    /* sezione planning */
    #planning .cards {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* sezione testimonials */
    #testimonials .cards {
        padding-left: 5%;
        padding-right: 5%;
    }

    #testimonials .card {
        flex-wrap: wrap;
    }

    #testimonials .card-pic {
        width: 100%;
    }

    #testimonials .card-text {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #testimonials .card > .card-pic > img {
        width: 200px;
        height: 200px;
    }

    /* sezione benefits */
    #benefits .cards {
        padding: 0 5%;
    }

    #benefits .card {
        width: 100%;
    }

    /* sezione about-us */
    #about-us .cards {
        flex-wrap: wrap;
    }

    #about-us .card-text {
        width: 100%;
    }

    #about-us .card-pic {
        width: 100%;
    }
}