/* HEADER */
header {
    background-color: var(--primary-color);
}

header .header-row {
    width: 100%;
    line-height: 3rem;
}

header img {
    vertical-align: middle;
}

header li {
    padding: 10px;
}

header a {
    color: white;
}

header button {
    background-color: white;
}

header button > a {
    color: black;
}

/* MAIN */
/* sezione introduzione */
#intro .cards {
    padding: var(--padding-container);
    margin: 0 -0.75rem;
}

#intro .card:not(first-child) {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--primary-color-light);
    margin: 0.75rem;
    border-radius: 10px;
    padding: var(--padding-card);
    text-align: center;
}

#intro .card:first-child {
    width: calc(((100% / 3) * 2) - 1.5rem);
    margin: 0.75rem;
    border-radius: 10px;
    text-align: left;
    padding: 0;
}

#intro h3 {
    color: var(--primary-color);
    margin: var(--main-margin-distance);
}

#intro .first-card-text {
    padding: var(--padding-card);
}

#intro .first-card-text h3 {
    margin: 0;
}

#intro .first-card-text > p {
    margin: var(--main-margin-distance);
}

#intro button {
    background-color: var(--primary-color);
    width: 150px;
}

#intro a {
    color: white;
}

#intro .card > div {
    width: 50%;
}

#intro .first-card-img {
    padding-left: 20px;
}

#intro img {
    width: 70%;   
}

#intro i{
    color: var(--primary-color);
}

/* sezione planning */
#planning {
    background-color: var(--secondary-color);
}

#planning .cards {
    padding: var(--padding-container);
}

#planning .cards > .card:last-child {
    background-color: white;
    border-radius: 20px;
}

#planning .card{
    width: 50%;
    padding: var(--padding-card);
}

#planning .cards > .card:first-child > img {
    margin: 4rem 0;
    width: 100%;
}

#planning .cards > .card:first-child > h3 {
    color: white;
    margin-bottom: 2rem;
}

#planning .cards > .card:last-child > img {
    width: 70%;
    margin-bottom: 1rem;
}

#planning .cards > .card:last-child > p {
    margin: 1rem 0;
}

#planning .arrow {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    text-align: center;
}

/* sezione testimonials */
#testimonials > .container-big {
    padding: var(--padding-container);
    text-align: center;
}

#testimonials h4 {
    font-weight: lighter;
}

#testimonials h2 {
    color: var(--secondary-color);
    margin: var(--main-margin-distance);
    font-size: 2.5rem;
}

#testimonials .card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    text-align: left;
    color: white;
}

#testimonials .card > .card-pic > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#testimonials .card-pic {
    width: 20%;
    text-align: center;
}

#testimonials .card-text {
    width: 80%;
    padding: 2rem
}

#testimonials .card-text > p {
    margin-bottom: 2rem;
}

#testimonials .card-text > p:first-child:before {
    content: "\275D";
    color: white;
    font-size: x-large;
}

#testimonials .card-text > p:first-child:after {
    content: "\275E";
    color: white;
    font-size:x-large;
}

#testimonials > .container-big > div {
    margin-top: 1.5rem;
}

/* sezione benefits */
#benefits {
    background-color: var(--secondary-color);
}

#benefits h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

#benefits > .container-big {
    padding: var(--padding-container);
}

#benefits > .container-big > .cards {
    margin: 0 -0.75rem;
    color: var(--secondary-color);
}

#benefits .card {
    width: calc((100% / 3) - 1.5rem);
    margin: 0.75rem;
    background-color: white;
    border-radius: 20px;
    padding: var(--padding-card);

}

#benefits .card > div {
    font-size: 3rem;
    font-weight: bold;
}

#benefits .card > h3 {
    margin: 1.5rem 0;
}

#benefits .card > button {
    background-color: var(--secondary-color);
    width: 100px;
    margin-top: 1.5rem;
}

#benefits .card > button > a {
    color: white;
}

/* sezione about-us */
#about-us > .container-big {
    padding: var(--padding-container);
}

#about-us .card-text {
    width: 70%;
    padding: var(--padding-card);
}

#about-us .card-text > h2 {
    color: var(--secondary-color);
    font-size: 3rem;
}

#about-us .card-text > p {
    margin: var(--main-margin-distance);
}

#about-us .card-pic {
    width: 30%;
    padding: var(--padding-card);
}

#about-us .profile-pic {
    position: relative;
    width: fit-content;
}

#about-us .profile-pic img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#about-us .profile-pic > .fa-solid {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--secondary-color);
}

#about-us .card-pic > p {
    margin: var(--main-margin-distance);
    color: var(--secondary-color);
    font-size: 1.5rem;
}

#about-us .card-pic > button {
    background-color: var(--secondary-color);
}

#about-us .card-pic > button > a {
    color: white;
}

/* sezione get started */
#get-started {
    background-color: var(--secondary-color);
}

#get-started > .container-small {
    padding: var(--padding-container);
    text-align: center;
}

#get-started h4 {
    font-weight: lighter;
    color: white;
}

#get-started .title-simple {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
}

#get-started .title-free {
    color: #fdc15f;
    font-size: 4rem;
    margin: var(--main-margin-distance);
}

#get-started p {
    font-size: 0.7rem;
    color: white;
    text-align: center;
}

#get-started button {
    padding: 1.5rem;
    width: 200px;
    border-radius: 30px;
    margin: 1.5rem 0;
}

#get-started button > a {
    color: var(--secondary-color);
}

#get-started .copyright > a {
    color: white;
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #333333;
    text-align: center;
    padding: var(--padding-container);
}

footer > .container-xs > p:first-child {
    margin-bottom: 2.5rem;
}

footer p {
    font-size: 0.7rem;
    color: white;
}

footer p > a {
    color: var(--secondary-color);
}