/* HEADER */
header {
    background-color: var(--primary-color);
}

header .header-row {
    width: 100%;
    padding: 1.5rem;
}

/* MAIN */
/* sezione introduzione */
#intro .cards {
    padding: var(--padding-container);
}

#intro .card:not(first-child) {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--primary-color-light);
    margin: 0.75rem;
}

#intro .card:first-child {
    width: calc(((100% / 3) * 2) - 1.5rem);
    margin: 0.75rem;
}

/* sezione planning */
#planning {
    background-color: var(--secondary-color);
}

#planning .cards {
    padding: var(--padding-container);
}


#planning .card{
    width: 50%;
}

/* sezione testimonials */
#testimonials > .container-big {
    padding: var(--padding-container);
}

#testimonials .card {
    background-color: var(--secondary-color);
}

#testimonials .card-pic {
    width: 20%;
}

#testimonials .card-text {
    width: 80%;
}

#testimonials > .container-big > div {
    margin-top: 1.5rem;
}

/* sezione benefits */
#benefits {
    background-color: var(--secondary-color);
}

#benefits > .container-big {
    padding: var(--padding-container);
}

#benefits > .container-big > div {
    text-align: center;
}

#benefits .card {
    width: calc((100% / 3) - 1.5rem);
    margin: 0.75rem;
    background-color: white;
}

/* sezione about-us */
#about-us > .container-big {
    padding: var(--padding-container);
}

#about-us .card-text {
    width: 60%;
}

#about-us .card-pic {
    width: 40%;
}

/* sezione get started */
#get-started {
    background-color: var(--secondary-color);
}

#get-started > .container-small {
    text-align: center;
    padding: var(--padding-container);
}

#get-started > .container-small > div {
    margin: 2rem 0;
}